apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: 398437580681.dkr.ecr.us-east-1.amazonaws.com/docker-repo:latest
          ports:
            - containerPort: 8080
      imagePullSecrets:
        - name: ecr-secret
